[tools]

# Core
python = "latest"
uv = "latest"
node = "lts"
bun = "latest"
go = "latest"
neovim = "latest"
tmux = "latest"
starship = "latest"
vivid = "latest"
"npm:prettier" = "latest"

# CLI tools
eza = "latest"
bat = "latest"
fzf = "latest"
ripgrep = "latest"
fd = "latest"
zoxide = "latest"
jq = "latest"
yq = "latest"
delta = "latest"
"pipx:llm" = { version = "latest", uvx_args = "--with llm-gemini-code-assist" }

# Coding agents utils
"npm:@beads/bd" = "latest"
"npm:mcporter" = "latest"
"npm:aidex-mcp" = "latest"
"npm:ctx7" = "latest"
"npm:firecrawl-cli" = "latest"

# System / Monitoring
btop = "latest"
usage = "latest"
dust = "latest"
doggo = "latest"
gping = "latest"

# Web search
"pipx:ddgr" = "latest"

# DevOps
terraform = "latest"
kubectl = "latest"
helm = "latest"
k9s = "latest"
lazygit = "latest"
"pipx:ansible-lint" = "latest"


[settings]
experimental = true
asdf_compat = true
